# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.java]
ij_java_insert_override_annotation = true
ij_java_method_annotation_wrap = normal
ij_java_field_annotation_wrap = normal
ij_java_if_brace_force = if_multiline
ij_java_for_brace_force = if_multiline
ij_java_while_brace_force = if_multiline
